---
import CategoryCloud from "@/components/category-cloud/CategoryCloud.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Categories"
  description="Browse Break it Down articles by category."
>
  <section class="site-container py-24 md:pt-40">
    <div class="overflow-x-clip">
      <div class="mr-auto flex max-w-[950px] flex-col">
        <h1 class="h1">Categories</h1>
      </div>

      <div class="mt-6 flex pb-16">
        <CategoryCloud />
      </div>
    </div>
  </section>
</BaseLayout>
