---
import BidLogoCanvas from "@/components/bid/BidLogoCanvas.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<a
  class="primary-focus text-foreground flex items-center gap-2.5 text-xl font-semibold tracking-tight"
  href={getLocalizedRoute(currLocale, "/")}
>
  <BidLogoCanvas size={32} />
  <p class="leading-none">{siteData.name}</p>
</a>
